/*@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css");*/
#booking-car{
    opacity: 1;
    margin-top: 0px;
    background: #F9F9F9;
    border-radius: 7px 7px 7px 7px;
}
#form-date{
    padding: 0;
    padding-right: 10px;
}
#form-time{
    padding: 0;
}
.nav-tabs > li {
    width: 100%;
}
#content-booking .nav-tabs{ border: none; }
#cainput_date{
    padding-left: 10px !important;
}
#label-booking li.active a.active{
    font-size: 26px; 
    font-weight: 600;
    color: #000;
    position: relative;
    border: none;
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#label-booking li.active a.active:after{
    position: absolute;
    content: "";
    width: 80px; height: 2px;
    background-color: #007927;
    left: 0;
    bottom: 0;
}
#myTabContentCar #send{
    margin: 0;
}
#myTabContentCar #send-order {
    width: 100%;
    background: #f26000;
    color: #fff;
    border: none;
    height: 45px;
    line-height: 45px;
    font-size: 16px; font-weight: 600;
    border-radius: 5px;
    padding: 0;
}
#myTabContentCar #send-order:hover {
    opacity: 0.8;
}
#profile-tab {
    border: none;
    border-radius: 0px 5px 0px 0px;
    font-weight: bold;
}
#home-tab {
    font-weight: bold;
}

#content-booking{
    float: right;
    /*margin: 0 auto;*/
    /*width: 54%;*/
    width: 100%;
    margin-right: 10px;
}

#myTabContentCar{
    background-color: #fff;
}
#myTabContentCar .choose-add{
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: inline-block;
    padding-right: 50px;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
#myTabContentCar .choose-add > .form-group{
    padding: 0; margin: 0;
}
#myTabContentCar .choose-add #place_start_name{
    border-bottom: 1px solid #ccc;
}
#myTabContentCar .ui-autocomplete-input:focus{
    outline: none;
}
#myTabContentCar .input-group-addon.swap-address{
    position: absolute; top: 30px;
    right: 25px;
}
#myTabContentCar .input-group-addon{
    border: none;
    background-color: transparent;
    
}
#myTabContentCar .edit-service i{
    font-size: 20px; color: #666;
}
#myTabContentCar .edit-service .input-group{
    height: 55px; 
    margin-bottom: 0 !important;
}
#myTabContentCar .edit-service .input-group #service_id{
    height: 55px; padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

#myTabContentCar .ui-widget.ui-widget-content{
    border: none;
    height: 44px;
}
#myTabContentCar .form-control{
    border: none;
    border-radius: 5px;
	width: 95%;
	box-shadow: none;
}

#myTabContentCar .form-control:focus {
	box-shadow: none;
}
#myTabContentCar .edit-service{
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 20px;
}
#myTabContentCar .edit-date{
    padding: 0;
    clear: both;
    margin-bottom: 20px;
}
#myTabContentCar .edit-date .input-group-calendar{
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 55px; height: 55px;
    text-align: center; line-height: 55px;
    display: block;
    float: left; margin-right: 20px;
}
#myTabContentCar .edit-date .input-group-calendar:hover{
    cursor: pointer;
}
#myTabContentCar .edit-date .form_datetime{
    float: left; margin-top: 5px;
}
#myTabContentCar .edit-date .right-day{
    float: left; color: #222;
}
#myTabContentCar .edit-date .form_datetime .end_day,
#myTabContentCar .edit-date .form_datetime .start_day{
    font-size: 30px; color: #222;
    float: left; margin-right: 8px;
}
#myTabContentCar .edit-date .form_datetime .end_month,
#myTabContentCar .edit-date .form_datetime .start_month{
    font-weight: 700;
}
#myTabContentCar .edit-date .end_time,
#myTabContentCar .edit-date .start_time{
    font-size: 20px; color: #222;
}
#myTabContentCar .edit-date .end_time .inner,
#myTabContentCar .edit-date .start_time .inner{
    float: right; line-height: 53px;
}
#myTabContentCar .edit-date .end_time .input-group-addon,
#myTabContentCar .edit-date .start_time .input-group-addon{
    text-align: left; float: left;
    padding: 0; font-size: 20px; color: #666;
    line-height: 55px;
}
#myTabContentCar .edit-date .end_time .input-group-addon:hover,
#myTabContentCar .edit-date .start_time .input-group-addon:hover{
    cursor: pointer;
}
#myTabContentCar .edit-date .end_time .input-append,
#myTabContentCar .edit-date .start_time .input-append{
    margin-left: 26px;
}

#myTabContentCar .edit-date i{
    font-size: 20px; 
    color: #666;
}
.fa-map-marker.mpick {
    color: #666666;
    font-size: 20px;
    margin-top: 4px;
}
.fa-map-marker.mdrop {
    color: #666666;
    font-size: 16px;
    margin-top: 4px;
}
.input-group-addon {
    border-radius: 0px 0px !important;
}
.custom-combobox-input {
    padding: 8px 5px 8px !important;
}

/*date picker*/
.rw-date-time-picker{
    border-radius: 5px 5px 5px 5px;
    width: 300px;
    margin-top: 5px;
    border: 1px solid #bbb;
    padding: 10px 10px;
    background: #baff00;
}
#pickupHour{
    padding: 6px 10px;
    border-radius: 5px;
}
#pickupMinute{
    padding: 6px 10px;
    border-radius: 5px;
}
#form-time {
    position: relative;
}
.rw-date-time-picker{
    top: -40px;
    position: absolute;
    left: -76px;
}
.rw-time-picker__confirm {
    background: #07c;
    color: #fff;
    padding: 6px 20px;
    border-radius: 5px;
}
.rw-date-time-picker{
    display: none;
}
#comfirm-button:hover{
    color:#fff;
    cursor: pointer;
}
#hour{
    background: #fff;
}
#time{
    background: #fff;
}
#hour:hover{
    cursor: pointer;
}
#time:hover{
    cursor: pointer;
}
#date_end_row{
    display: none;
}
.mcalendar{
    color:#f8821f;
    font-size: 20px;
}
.mtime {
    color: #02bd6e;
    font-size: 20px;
}

.button-tour {
    padding: 10px 0px;
    text-align: center;
    margin: 10px 0px;
}
.button-tour a {
    font-weight: bold;
    color: #fff;
    font-size: 13px;
}
.button-tour:hover{
    background: #F5AA06;
}
.ha-noi {
    cursor: pointer;
    background: #009355;
}
.nha-trang {
    cursor: pointer;
    background: #e74c3c;
}
.da-nang {
    cursor: pointer;
    background: #5BB90C;
}
.ho-chi-minh {
    cursor: pointer;
    background: #0971C0;
}

.tour-content{
    background: #fcf8e3;
    margin-bottom: 10px;
    border: 1px solid #009355;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px;
    box-shadow: 0 9px 12px 3px rgba(72, 13, 13, 0.06);
}

.order-car-mobile{
    display: none;
}
.send-mobile{
    display: none;
}
@media only screen and (max-width: 768px){
    .send-mobile{
        display: block;
    }
    .send-pc{
        display: none;
    }
    .order-car-pc{
        display: none;
    }
    .order-car-mobile{
        display: block;
    }
    .img-car-name{
        /*left: 0;
        font-size: 11px !important;
        bottom: -50px !important;*/
    }
    .img-car{
        //height: 65px !important;
    }
    .sort-car {
        width: 45% !important;
    }
    .banner{
        /*background: url(/upload/images/banner.jpg);*/
    }
    .div_slogan p{
        display: none;
    }
    #jssor_1 {
        display: none;@
    }
    #content-booking{
        margin-right: 0px;
    }
    .tour-content {
        margin-top: 30px;
    }
    #home {
        margin-top: 30px;
    }
    #myTabContentCar {
        margin-top: 0px;
    }
    #content-booking {
        width: 100%;
    }
    .form-group {
        margin-bottom: 0px;
        padding-left: 0px !important;
        padding-right: 0px;
    }
    #send-order {
        /* margin-top: 15px; */
    }
    .rw-date-time-picker {
        left: 0px;
        z-index: 999;
    }
    #send {
        text-align: center;
    }
}
.sort-car select{
    width: 100%;
    border: 1px solid #cccccc;
}
.sort-car{
    margin-right: 10px;
    float: left;
    width: 30%;
    padding-bottom: 25px;
}
.car_vip{
    margin-top: 10px;
    text-align: center;
    color: #f26000;
}
.review_car{
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    background: #f5aa06;
    border: 1px solid #f5aa06;
    margin-top: 5px;
}
.review_car:hover{
    background: #fff;
    border: 1px solid #009355;
    color:#009355
}
.rw-date-time-picker {
    top: -65px;
    position: absolute;
    left: -131px;
}
.img-car {
    
}
.name-car{
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px !important;
}
.price-car{
    color: #f26000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: right;
}
.customer-rating span{
    color: #f26000;
}
.note-car span {
    color:#42B72A;
}
.note{
    font-size: 13px;
    text-align: center;
    font-style: italic;
    padding: 20px 5px 0px 5px;
}
.order-car input{
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    background: #f26000;
    border: none;
    height: 40px; line-height: 40px;
    opacity: 0.8;
}
.order-car input:hover{
    background: #f26000;
    opacity: 1;
}
.section-dat-xe .product-item{
   
}
.product-item{
    float: right;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    padding: 1px;
    box-shadow: 0 9px 12px 3px rgba(72, 13, 13, 0.06);
}
.product-item:hover{
    border: 2px solid #008144;
    padding: 0px;
}
.section-dat-xe .product-item .item-bottom{
    position: relative; padding-right: 140px;
}
.section-dat-xe .product-item .order-car{
    position: absolute; top: 0; right: 0;
}
.section-dat-xe .product-item .intro-car{
    border-bottom: 1px dashed #e5e5e5;
    display: inline-block; width: 100%;
    padding-bottom: 15px; margin-bottom: 15px;
}
.section-dat-xe .product-item .intro-car .price-car{
    float: right;
}
.section-dat-xe .product-item .img-car{
    padding: 20px;
}
.section-dat-xe .product-item .content-info{
    border-left: 1px solid #e5e5e5;
    padding: 20px;
}
.section-dat-xe .product-item .name-rate{
    float: left;
}
.view-place-order{
    float: left; width: 100%;
    margin-bottom: 40px;
    padding: 10px 20px;
    border: 2px solid #00904c;
    border-radius: 5px 5px 5px 5px;    
}
.note-trip{
    color: #666; font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}
.content-info2{
    
}
.order-car{
    text-align: right;
}
.view-place-order h4{
    font-weight: 600;
    color: #000;
    font-size: 22px;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.view-place-order h4:after{
    /* position: absolute; content: ""; */
    /* width: 80px; height: 2px; */
    /* background-color: #00904c; */
    /* bottom: 0; margin-left: -40px; left: 50%; */
}
.mcalendar{
    color:#f8821f;
    font-size: 20px;
}
.mtime {
    color: #02bd6e;
    font-size: 20px;
}
#send-order:hover{
    background: #F5AA06;
    border: 1px solid #F5AA06;
}
.ui-menu .ui-menu-item-wrapper {
    padding: 5px 1em 5px .4em !important;
    font-size: 14px;
}
#place_start_name {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
#place_end_name {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.pick_start {
    position: relative;
}
.pick-icon-end,
.pick-icon-start {
    position: absolute;
    right: -35px;
    top: 2px;
    cursor: pointer;
    padding: 6px 6px;
    z-index: 99;
}
/*.pick-icon-end {
    position: absolute;
    right: 50px;
    top: 3px;
    cursor: pointer;
    padding: 6px 6px;
    z-index: 99;
    background: #fff;
}*/
@media only screen and (max-width: 768px){

    #home_booking_form {
        padding-top: 10px;
    }
    .slogan_taxigo {
        margin-top: 30px !important ;
    }
    .slogan_taxigo h1 {
        font-size: 16px !important;
    }
    .slogan_taxigo h4 {
        font-size: 14px;
    }
    #form-time {
        margin-left: 25px;
    }
    .note {
        font-size: 13px;
        text-align: center;
        font-style: italic;
        padding: 5px 5px 0px 5px;
    }
    .img-car {
        margin-top: 15px;
        padding: 0;
        /* width: 87px; */
    }
    .name-car {
       
    }
    .content-car{
        padding: 0px;
    }
    .customer-rating span{
        margin-right: 0px;
    }
    .note-car{
        font-size: 12px;
    }
    .price-car {
       // font-size: 12px;
    }
    .content-info{
        padding: 0px 5px;
    }
    .order-car {
        padding: 5px;
    }
    .order-car input {
        font-size: 11px;
        padding: 8px 12px;
    }
    .row_view {
        
        margin-bottom: 10px;
    }
    #form-date {
        padding-right: 0px;
    }
    #send {
        text-align: center;
    }
    .rw-date-time-picker {
        left: 0px;
        z-index: 999;
    }
	
	#yt_slideshow .banner {
		height: 300px !important;
	}


}
#popup-review .modal-header {
    border-bottom: none;
}
#popup-review .slide-review{
    margin: 15px 0px;
}
#popup-review .img-review{
    /*max-height: 150px;*/
}
#popup-review .modal-header .close {
    margin-top: -20px;
}
#popup-review .modal-footer{
    text-align: center;
}
#popup-review{
    z-index: 99999;
}
#review_car{
    opacity: 1;
}
.row-comment{
    border: 1px solid #009355;
    margin-bottom: 10px;
    padding: 5px 5px 5px;
    border-radius: 5px 5px;
}
.comment{
    font-style: italic;
}
.fa-car{
    color: black !important;
}
.fa-paper-plane-o{
    color: red !important;
}

.fa-check-square{
    color: #009355 !important;
 }

.img-review img{
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin: 0 auto;
}
.slogan_taxigo{
    margin-top: 120px;
    color:#fff;
    text-align: center;
}
.slogan_taxigo h1{
    font-size: 40px; 
    font-weight: 700;
    margin-bottom: 15px;
}
.slogan_taxigo h4{
    position: relative;
    padding-bottom: 20px; 
    margin: 0;
}
.slogan_taxigo h4:after{
    position: absolute;
    content: "";
    width: 170px; height: 2px;
    bottom: 0px;
    background-color: #fff;
    left: 50%; margin-left: -85px;
}
.slogan_taxigo p{
    font-size: 14px;
}
.swap-address:hover{
    cursor: pointer;
}
.swap-address{
    padding: 0px 12px !important;
}
.swap-address svg, .more-address svg {
    color: #009355;
}
.jss1 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}


.banner .div_datxe{
    background-color: #fff; 
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(24, 59, 86, 0.2);
-moz-box-shadow:    0px 0px 30px 0px rgba(24, 59, 86, 0.2);
box-shadow:         0px 0px 30px 0px rgba(24, 59, 86, 0.2);
}
#yt_slideshow{
    position: relative;
    margin-bottom: 350px;
}
#yt_slideshow .banner{
    position: relative;
    height: 675px;
}
#yt_slideshow .banner .div_datxe{
    position: absolute;
    bottom: -260px; left: 40px;
    width: calc(100% - 80px); 
    padding: 30px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	 -o-transition:all 1s ease;
		transition:all 1s ease;
}
#yt_slideshow .form-datxe-left{
    position: relative;
    height: 460px;
}
#yt_slideshow .form-datxe-left:before{
    position: absolute; content: "";
    width: 50%;
    height: 100%;
    background-color: #eaac03;
    top: 0; left: 15px;
}
#yt_slideshow .form-datxe-left img{
    position: absolute;
    bottom: 60px;
    right: 0;
}

.section-dat-xe #home_booking_form .input-group-calendar .fa {
	margin-right: 10px;
}

.end_datetimeinput_here, .start_datetimeinput_here, .start_time_inner, .end_time_inner {
	cursor: pointer;
}

@media (max-width: 768px) {
	#yt_slideshow .form-datxe {
		padding: 10px 0px 20px;
		border: 2px solid #00904c;
		border-radius: 5px 5px 5px 5px;
	}
	
	#myTabContentCar .edit-date{
		
		margin-bottom: 0px !important;
	}
	
	#myTabContentCar .edit-service .input-group #service_id{
		height: auto; 
	}
	
	#myTabContentCar .edit-service .input-group {
		height: auto;
	}
	
	.input-group.append_drop_address_here.pick_end {
		margin-bottom: 0 !important;
	}
	
	#label-booking li.active a.active:after {
		left: 50%; margin-left: -40px;
	}
	
	.slogan_taxigo h4 {
		font-size: 14px;
	}
	
	body {
		position: relative;
		margin-top: 0;
		-webkit-transition:all 1s ease;
        -moz-transition:all 1s ease;
        -ms-transition:all 1s ease;
         -o-transition:all 1s ease;
            transition:all 1s ease;
	}
	
	/* .hide_logo .div_slogan { */
		/* display: none; */
		/* transition: opacity 1s ease-out; */
		/* opacity: 0; */
	/* } */
	
	.hide_logo {
		-webkit-transition:all 1s ease;
        -moz-transition:all 1s ease;
        -ms-transition:all 1s ease;
         -o-transition:all 1s ease;
            transition:all 1s ease;
		margin-top: -200px !important;
	}
	
	.ui-autocomplete.ui-widget {
		width: 310px !important;
		left: 50px !important;
	}
	
	.result-place-search {
		width: 310px !important;
		left: 0px !important;
	}
}
